.home-body {
    background: linear-gradient(0deg, rgba(238, 116, 2, 0.281), rgba(255, 255, 255)), url('./../../assets/yper-bg-home.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.home-card {
    --input-width: 370px;
    --input-height: 40px;
    --card-font-size: 14px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #6D757D;
    font-size: var(--card-font-size);
}

.home-card-label {
    margin: 7px 0;
}

.home-card-input {
    width: var(--input-width);
    height: var(--input-height);
    margin-bottom: 20px;
}

.home-card-filter-btn {
    width: var(--input-width);
    font-size: var(--card-font-size);
}

.home-card-distance {
    color: var(--yper-yellow);
    font-weight: 600;
}

.home-card-results-title {
    font-size: 16px;
    font-weight: 600;
}

.home-card-slider {
    margin: 5px 10px 40px 10px;
    width: calc(var(--input-width) - 20px);
}

.rc-slider-track {
    background-color: var(--yper-yellow);
}

.rc-slider-handle {
    border: solid 2px var(--yper-yellow);
}

.rc-slider-dot-active {
    border-color: var(--yper-yellow);
}

.home-card-alert {
    margin-top: 10px;
    width: var(--input-width);
}

.home-card-results {
    height: 280px;
    overflow-y: scroll;
}

.home-card-results::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.home-card-results::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}